<div th:fragment="addMethodForm">
<h2>Aggiungi Metodo di Pagamento</h2>
<div id="modalBody">
  <form th:action="@{'/methods/add/' + ${userId} + '?fromPage=' + ${fromPage}}" method="POST">    
	<div class="form-group">
      <label for="methodName">Nome del Metodo</label>
	  <div th:text=${emptyName} style="color: red;"></div>
      <input type="text" id="methodName" th:field="${method.name}" placeholder="es. Carta Visa principale">
    </div>
    <div class="form-group">
      <label for="methodType">Tipo</label>
	  <select id="methodType" th:field="${method.type}">
	    <option th:each="t : ${methodTypes}" th:value="${t}" th:text="${t.getName}"></option>
	  </select>
    </div>
    <div class="actions">
      <button type="submit" class="btn">Salva</button>
      <button type="button" class="btn btn-secondary" onclick="closeModal()">Annulla</button>
    </div>
  </form>
</div>
</div>