<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Registrazione completata - Monitoraggio Spese</title>
  <link rel="stylesheet" href="/css/root.css" />
</head>
<body>
  <header>
    <div th:if="${userDetails}">
      <span th:text="${userDetails.username}"></span>
      <a href="/logout">Logout</a>
    </div>
    <div th:unless="${userDetails}">
      <a href="/login">Login</a>
    </div>
  </header>

  <div class="container success-container">
    <h1 th:text="'Congratulazioni ' + ${user.name} +', ti sei registrato!'">Congratulazioni Mario, ti sei registrato!</h1>

    <div class="user-info">
		
      <p><strong>Nome:</strong> <span th:text="${user.name}"></span></p>
      <p><strong>Cognome:</strong> <span th:text="${user.surname}"></span></p>
    </div>

    <a href="/" class="btn">Torna alla home</a>
  </div>
</body>
</html>
